<!DOCTYPE html>
<html>
<head>
  <title>Flip Sasser | x451.com</title>
  <link charset="utf-8" href="/stylesheets/screen.css" media="screen"  rel="stylesheet" type="text/css" title="no title" />
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
  <meta name="description" content="Flip Sasser's personal homepage with a live git commit feed and some simple contact information. Also has pictures of a cute dog." />
  <meta name="keywords" content="flip sasser, flip, sasser, flipsasser" />
  <meta name="copyright" content="Copyright (C) <%= year = Date.today.year %> Flip Sasser" />
  <meta name="author" content="Flip Sasser" />
  <meta name="email" content="support@x451.com" />
  <meta name="Charset" content="UTF-8" />
  <meta name="Robots" content="INDEX,FOLLOW" />
</head>
<body>
  <div id="main">
    <header>
      <a href="/"><img alt="Flip Sasser / Nerd" height="52" src="/images/banner.png" width="225" /></a>
    </header>
    <!-- <a href="http://github.com/flipsasser" id="fork-me" title="Fork me on Github"></a> -->
    <nav>
      <ul>
        <li><a class="active" href="#about" title="About">About</a></li>
        <li><a href="#contact" id="contact-button" title="Contact">Contact</a></li>
        <li><a href="#code" id="code-button" title="Code">Code</a></li>
      </ul>
    </nav>
    <article>
      <div id="about">
        <p>
          <b>Howdy!</b>
          My name is Flip Sasser. I&rsquo;m an entrepreneur, programmer, designer, and proud
          <a href="http://www.babson.edu/" title="Class of 2012">Babson MBA</a>. My
          <a href="http://www.facebook.com/profile.php?id=20200725" title= "Liz!">wife</a> and I live in Baltimore.
        </p>
        <p>
          I work at <a href="http://www.figure53.com/">Figure 53</a>, and co-founded <a href="http://www.inthebackforty.com/">Back Forty</a>,
          where we build applications that solve interesting problems with awesome technology.
        </p>
        <p>
          It's  basically the most fun ever.
        </p>
      </div>
      <div id="contact">
        <div class="column">
          <p>
            <span class="label">E-mail</span>
            <span class="email value">#nospamkthxbai#</span>
            <span class="label">Phone</span>
            <span class="phone value">(410) 929-2701</span>
            <span class="label">Address</span>
            <span class="address value">P.O. Box 211<br />Riderwood, MD</span>
            <a class="vcard" href="#">Download my vCard</a>
          </p>
        </div>
        <div class="column right">
          <p>
            <a class="github" href="http://github.com/flipsasser">Github</a>
            <a class="linked-in" href="http://www.linkedin.com/in/flipsasser">LinkedIn</a>
            <a class="facebook" href="http://www.facebook.com/flipsasser">Facebook</a>
            <a class="google-talk" href="#">Google Talk</a>
            <a class="skype" href="skype://flipsasser?chat">Skype</a>
            <a class="twitter" href="http://twitter.com/flipsasser">Follow me on twitter</a>
          </p>
        </div>
      </div>
      <div id="code"></div>
    </article>
    <footer>
      Copyright &copy; <%= year %> Flip Sasser. Contact icons by <a href="http://paulrobertlloyd.com" title="A nice British guy">Paul Robert Lloyd</a>.
    </footer>
  </div>
  <script type="text/javascript">
  /*<![CDATA[*/
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  /*]]>*/
  </script>
  <script type="text/javascript">
  /*<![CDATA[*/
  try {
    pageTracker = _gat._getTracker("UA-10269009-2");
    pageTracker._trackPageview();
  } catch(err) {}
  /*]]>*/
  </script>
</body>
</html>