<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Flip Sasser | Sasser Interactive</title>
  <link charset="utf-8" href="/sasserinteractive/screen.css" media="screen"  rel="stylesheet" type="text/css" title="no title" />
  <meta name="description" content="Sasser Interactive, the ex-Denver web development firm, now a glib footnote in history" />
  <meta name="keywords" content="Sasser Interactive, flip sasser, flip, sasser, flipsasser" />
  <meta name="copyright" content="Copyright (C) <%= year = Date.today.year %> Flip Sasser" />
  <meta name="author" content="Flip Sasser" />
  <meta name="email" content="support@x451.com" />
  <meta name="Charset" content="UTF-8" />
  <meta name="Robots" content="INDEX,FOLLOW" />
</head>
<body>
  <div id="main">
    <img alt="Sasser Interactive Logo" src="/sasserinteractive/logo.gif" />
    <div id="content">
      <img alt="Thanks for stopping by!" id="thanks" src="/sasserinteractive/thanks.gif" />
      <img alt="So long" id="sticky" src="/sasserinteractive/sticky.gif">
      <p>
        <b>After two</b> incredibly fulfilling years, I have shut down Sasser Interactive to pursue opportunities
        more closely aligned to my own skills and interests.
      </p>
      <p>
        Running a service business has been a fascinating experience, but it's time to try something different!
        Feel free to drop me a line at <a href="http://x451.com/#contact">my homepage</a>.
      </p>
      <p>
        Flip Sasser
      </p>
    </div>
  </div>
  <script type="text/javascript">
  /*<![CDATA[*/
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  /*]]>*/
  </script>
  <script type="text/javascript">
  /*<![CDATA[*/
  try {
    pageTracker = _gat._getTracker("UA-10269009-2");
    pageTracker._trackPageview();
  } catch(err) {}
  /*]]>*/
  </script>
</body>
</html>