a {
  color:#c5e5fd;
  cursor:pointer;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

body {
  background:#022d4c url(/images/background-body.jpg) center 0 no-repeat;
  font:12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin:0;
  overflow:hidden;
}

#main {
  margin:100px auto;
  position:relative;
  width:367px;
}

#header {
  background:url(/images/background-header.png) no-repeat;
  height:90px;
}

#banner {
  display:inline-block;
  padding:20px;
  position:relative;
  text-decoration:none;
  z-index:2;
}

#arrow {
  background:url(/images/background-arrow.png) no-repeat;
  height:25px;
  left:55px;
  position:absolute;
  top:80px;
  width:24px;
  z-index:2;
}

#content {
  background:url(/images/background-content.png) no-repeat;
  height:318px;
  position:relative;
}

#menu {
  height:32px;
  margin:0 0 20px 0;
  padding:24px 10px 0 10px;
  position:relative;
  z-index:2;
}

#menu li {
  display:block;
  float:left;
  height:32px;
  margin:0;
  overflow:hidden;
  padding:0;
  width:33%;
}

#menu li a {
  background:url(/images/background-buttons.png) center 0;
  color:#fff;
  display:block;
  font:13pt bold 'Calibri', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height:32px;
  margin:0 auto;
  position:relative;
  text-align:center;
  text-decoration:none;
  width:103px;
}

#menu li a span.image {
  background-image:url(/images/background-text.png);
  background-position:center 8px;
  background-repeat:no-repeat;
  display:block;
  height:32px;
}

#menu li a#contact-button span.image {
  background-position:center -58px;
}

#menu li a#code-button span.image {
  background-position:center -24px;
}

#menu li a:hover {
  background-position:center -64px;
}

#menu li a.active, #menu li a.active.down {
  background-position:center -32px;
}

#menu li a.down {
  background-position:center -96px;
}

#about {
  font:12pt Garamond, Georgia, Times, serif;
  line-height:1.4em;
  padding:0 20px;
}

#about p {
  margin:10px 0;
}

#riley {
  background:url(/images/background-riley.png) no-repeat;
  display:inline-block;
  height:31px;
  left:5px;
  position:relative;
  top:10px;
  width:31px;
}

#contact {
  background:url(/images/background-divider.png) center center no-repeat;
  overflow:hidden;
  padding:0 20px;
}

#code {
  background:url(/images/background-code-loading.gif) center center no-repeat;
  height:200px;
  overflow:auto;
}

#code .commit {
  background:url(/images/background-commit.png) repeat-x;
  cursor:pointer;
  height:40px;
  overflow:hidden;
  padding:0 10px;
}

#code .commit .repository {
  color:#000;
  display:block;
  font:bold 13pt 'Calibri', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  float:left;
  line-height:43px;
  text-decoration:none;
}

#code .commit .date {
  color:#888;
  float:right;
  line-height:42px;
}

#code .commit .message {
  line-height:42px;
  overflow:hidden;
  padding-left:10px;
  text-overflow:ellipsis;
  white-space: nowrap;
}

#code .commit-description {
  background:url(../images/background-code-description.gif);
  color:#fff;
  padding:10px;
  -moz-box-shadow:inset #000 0 0 3px;
  -webkit-box-shadow:inset #000 0 0 3px;
}

#code .commit-description p {
  font-size:14px;
  font-weight:bold;
  text-shadow:#000 0 1px 2px;
}

#code .commit-description .link {
  background-color:rgba(0, 0, 0, 0.3);
  display:inline-block;
  padding:5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

#code code {
  display:block;
  font:11pt 'consolas', 'Monaco', monospace;
  margin-bottom:10px;
/*  overflow:auto;*/
  padding:0 10px;
/*  white-space:pre;*/
}

#footer {
  bottom:8px;
  font:9pt bold 'Calibri', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position:absolute;
  text-align:center;
  width:100%;
}

#fork-me {
  background:url(/images/background-fork-me.png) no-repeat;
  cursor:pointer;
  height:150px;
  left:235px;
  position:absolute;
  top:-18px;
  width:150px;
  z-index:1;
}

#fork-me:hover {
  background-position:-150px left;
}

#fork-me:active {
	background-position:-299px left;
}

#shadow {
  background:url(/images/background-shadow.png) no-repeat;
  height:87px;
  left:50%;
  margin-left:-210px;
  position:absolute;
  top:530px;
  width:419px;
}

#zoom {
  z-index:10;
}

#zoom p {
  font-size:9pt;
  font-weight:300;
  text-align:center;
}

.column {
  float:left;
  width:158px;
}

.column.right {
  float:right;
}

.column a.github, .column a.facebook, .column a.google-talk, .column a.linked-in, .column a.skype, .column a.twitter, .column a.vcard {
  background-image:url(/images/icons.png);
  background-position:7px 6px;
  background-repeat:no-repeat;
  display:block;
  font-size:9pt;
  line-height:29px;
  padding-left:30px;
}

.column a.github {
  background-position:7px 6px;
}

.column a.facebook {
  background-position:7px -23px;
}

.column a.google-talk {
  background-position:7px -52px;
}

.column a.linked-in {
  background-position:7px -81px;
}

.column a.skype {
  background-position:7px -110px;
}

.column a.twitter {
  background-position:7px -139px;
}

.column a.vcard {
  background-position:7px -168px;
}

.label, .value {
  display:block;
  line-height:29px;
}

.label {
  clear:left;
  color:#444;
  float:left;
  font-size:9pt;
  font-weight:200;
  text-align:right;
  text-transform:lowercase;
  width:50px;
}

.value {
  clear:right;
  margin-left:60px;
}